### Hollywood movie recommendation

In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
movies_data = pd.read_csv('/content/drive/MyDrive/Portfolio/1. Capstone Projects/Recommender System/movies.csv')

selected_features = ['genres','keywords','tagline','cast','director']

for feature in selected_features:
    movies_data[feature] = movies_data[feature].fillna('')

combined_features = movies_data['genres']+' '+movies_data['keywords']+' '+movies_data['tagline']+' '+movies_data['cast']+' '+movies_data['director']

vectorizer = TfidfVectorizer()

feature_vectors = vectorizer.fit_transform(combined_features)

similarity = cosine_similarity(feature_vectors)

movie_name = input(' Enter your favourite movie name : ')

list_of_all_titles = movies_data['title'].tolist()

find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)

close_match = find_close_match[0]

index_of_the_movie = movies_data[movies_data.title == close_match]['index'].values[0]

similarity_score = list(enumerate(similarity[index_of_the_movie]))

sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse = True)  

print('Movies suggested for you : \n')

i = 1

for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = movies_data[movies_data.index==index]['title'].values[0]
  if (i<30):
    print(i, '.',title_from_index)
    i+=1

 Enter your favourite movie name : Avatar
Movies suggested for you :

1 . Avatar
2 . Alien
3 . Aliens
4 . Guardians of the Galaxy
5 . Star Trek Beyond
6 . Star Trek Into Darkness
7 . Galaxy Quest
8 . AlienÂ³
9 . Cargo
10 . Trekkies
11 . Gravity
12 . Moonraker
13 . Jason X
14 . Pocahontas
15 . Space Cowboys
16 . The Helix... Loaded
17 . Lockout
18 . Event Horizon
19 . Space Dogs
20 . Machete Kills
21 . Gettysburg
22 . Clash of the Titans
23 . Star Wars: Clone Wars: Volume 1
24 . The Right Stuff
25 . Terminator Salvation
26 . The Astronaut's Wife
27 . Planet of the Apes
28 . Star Trek
29 . Wing Commander

### Bollywood movie recommendation

In [ ]:
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)
import difflib
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

movies_data = pd.read_csv('/content/drive/MyDrive/Portfolio/1. Capstone Projects/Recommender System/BollywoodMovieDetail.csv')

movies_data.reset_index()

selected_features = ['title','genre','writers','actors','directors']

for feature in selected_features:
    movies_data[feature] = movies_data[feature].fillna('')

combined_features = movies_data['title']+' '+movies_data['genre']+' '+movies_data['writers']+' '+movies_data['actors']+' '+movies_data['directors']

vectorizer = TfidfVectorizer()

feature_vectors = vectorizer.fit_transform(combined_features)

similarity = cosine_similarity(feature_vectors)

movie_name = input('Enter your favourite movie name :')
list_of_all_titles = movies_data['title'].tolist()

find_close_match = difflib.get_close_matches(movie_name, list_of_all_titles)

close_match = find_close_match[0]

index_of_the_movie = movies_data[movies_data['title'] == close_match].index.values[0]

similarity_score = list(enumerate(similarity[index_of_the_movie]))

sorted_similar_movies = sorted(similarity_score, key = lambda x:x[1], reverse = True) 

print('Movies suggested for you : \n')

i = 1

for movie in sorted_similar_movies:
  index = movie[0]
  title_from_index = movies_data[movies_data.index==index]['title'].values[0]
  if (i<10):
    print(i, '.',title_from_index)
    i+=1

Enter your favourite movie name :Zid
Movies suggested for you :

1 . Zid
2 . Kuchh Meetha Ho Jaye
3 . Hate Story
4 . Dus
5 . Dhan Dhana Dhan Goal
6 . Cash
7 . Agneepath
8 . Tum Bin...: Love Will Find a Way
9 . Muskaan

### Movie classifier model

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Portfolio/1. Capstone Projects/Recommender System/movies_metadata.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [ ]:
df.shape

(45466, 24)

In [ ]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
from ast import literal_eval
df['genre'] = df['genres'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x,list) else [])

In [ ]:
df['language'] = df['spoken_languages'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x,list) else [])

In [ ]:
df['production_company'] = df['production_companies'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x,list) else [])

In [ ]:
df['production_country'] = df['production_countries'].fillna('[]').apply(literal_eval).apply(lambda x: [i['name'] for i in x] if isinstance(x,list) else [])

In [ ]:
df['release_year'] = df['release_date'].apply(lambda x: str(x).split('-')[0] if x != np.nan else np.nan)

In [ ]:
df.head(2)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,genre,language,production_company,production_country,release_year
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,"[Animation, Comedy, Family]",[English],[Pixar Animation Studios],[United States of America],1995
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,"[Adventure, Fantasy, Family]","[English, FranÃ§ais]","[TriStar Pictures, Teitler Film, Interscope Co...",[United States of America],1995

In [ ]:
selected_features = df[['title','genre','language','release_year','runtime','production_company','production_country','tagline','vote_average','vote_count']]

In [ ]:
for feature in selected_features:
    df[feature] = df[feature].fillna('')

In [ ]:
new_df1 = selected_features.explode('genre')

In [ ]:
new_df2 = new_df1.explode('language')

In [ ]:
new_df3 = new_df2.explode('production_company')

In [ ]:
final_df1 = new_df3.explode('production_country')

In [ ]:
final_df = final_df1.reset_index()

In [ ]:
final_df.drop('index', inplace=True, axis=1)

In [ ]:
final_df = final_df.reset_index()

In [ ]:
final_df

,index,title,genre,language,release_year,runtime,production_company,production_country,tagline,vote_average,vote_count
0,0,Toy Story,Animation,English,1995,81.0,Pixar Animation Studios,United States of America,NaN,7.7,5415.0
1,1,Toy Story,Comedy,English,1995,81.0,Pixar Animation Studios,United States of America,NaN,7.7,5415.0
2,2,Toy Story,Family,English,1995,81.0,Pixar Animation Studios,United States of America,NaN,7.7,5415.0
3,3,Jumanji,Adventure,English,1995,104.0,TriStar Pictures,United States of America,Roll the dice and unleash the excitement!,6.9,2413.0
4,4,Jumanji,Adventure,English,1995,104.0,Teitler Film,United States of America,Roll the dice and unleash the excitement!,6.9,2413.0
...,...,...,...,...,...,...,...,...,...,...,...
419774,419774,Betrayal,Action,English,2003,90.0,American World Pictures,United States of America,A deadly game of wits.,3.8,6.0
419775,419775,Betrayal,Drama,English,2003,90.0,American World Pictures,United States of America,A deadly game of wits.,3.8,6.0
419776,419776,Betrayal,Thriller,English,2003,90.0,American World Pictures,United States of America,A deadly game of wits.,3.8,6.0
419777,419777,Satan Triumphant,NaN,NaN,1917,87.0,Yermoliev,Russia,NaN,0.0,0.0
419778,419778,Queerama,NaN,English,2017,75.0,NaN,United Kingdom,NaN,0.0,0.0

In [ ]:
def classified_movie(genre, percentile=0.80):
    df = final_df[final_df['genre'] == genre]
    vote_counts = df[df['vote_count'].notnull()]['vote_count'].astype('int')
    vote_averages = df[df['vote_average'].notnull()]['vote_average'].astype('int')
    C = vote_averages.mean()
    m = vote_counts.quantile(percentile)
    
    qualified = df[(df['vote_count'] >= m) & (df['vote_count'].notnull()) & (df['vote_average'].notnull())][['title','genre','language','release_year','runtime','production_company','production_country','tagline','vote_average','vote_count']]
    qualified['vote_count'] = qualified['vote_count'].astype('int')
    qualified['vote_average'] = qualified['vote_average'].astype('int')
    
    qualified['wr'] = qualified.apply(lambda x: (x['vote_count']/(x['vote_count']+m) * x['vote_average']) + (m/(m+x['vote_count']) * C), axis=1)
    qualified = qualified.sort_values('wr', ascending=False).head(250)
    
    return qualified

In [ ]:
#Genres
final_df['genre'].unique()

array(['Animation', 'Comedy', 'Family', 'Adventure', 'Fantasy', 'Romance',
       'Drama', 'Action', 'Crime', 'Thriller', 'Horror', 'History',
       'Science Fiction', 'Mystery', 'War', 'Foreign', nan, 'Music',
       'Documentary', 'Western', 'TV Movie', 'Carousel Productions',
       'Vision View Entertainment', 'Telescene Film Group Productions',
       'Aniplex', 'GoHands', 'BROSTA TV',
       'Mardock Scramble Production Committee', 'Sentai Filmworks',
       'Odyssey Media', 'Pulser Productions', 'Rogue State', 'The Cartel'],
      dtype=object)

In [ ]:
romantice_movies = classified_movie('Science Fiction')
romantice_movies

,title,genre,language,release_year,runtime,production_company,production_country,tagline,vote_average,vote_count,wr
198675,Inception,Science Fiction,English,2010,148.0,Legendary Pictures,United Kingdom,Your mind is the scene of the crime.,8,14075,7.758475
198676,Inception,Science Fiction,English,2010,148.0,Legendary Pictures,United States of America,Your mind is the scene of the crime.,8,14075,7.758475
198677,Inception,Science Fiction,English,2010,148.0,Warner Bros.,United Kingdom,Your mind is the scene of the crime.,8,14075,7.758475
198678,Inception,Science Fiction,English,2010,148.0,Warner Bros.,United States of America,Your mind is the scene of the crime.,8,14075,7.758475
198679,Inception,Science Fiction,English,2010,148.0,Syncopy,United Kingdom,Your mind is the scene of the crime.,8,14075,7.758475
...,...,...,...,...,...,...,...,...,...,...,...
172751,Star Trek,Science Fiction,English,2009,127.0,Spyglass Entertainment,United States of America,The future begins.,7,4574,6.597041
172752,Star Trek,Science Fiction,English,2009,127.0,Bad Robot,Germany,The future begins.,7,4574,6.597041
172754,Star Trek,Science Fiction,English,2009,127.0,MavroCine Pictures GmbH & Co. KG,Germany,The future begins.,7,4574,6.597041
172753,Star Trek,Science Fiction,English,2009,127.0,Bad Robot,United States of America,The future begins.,7,4574,6.597041
172749,Star Trek,Science Fiction,English,2009,127.0,Paramount Pictures,United States of America,The future begins.,7,4574,6.597041

In [ ]:
def get_movie_recommendation(genre, runtime, rating):
    df1 = final_df[final_df['genre'] == genre]
    df2 = df1[df1['runtime'] >= runtime]
    df3 = df2[df2['vote_average'] >= rating]
    return df3

In [ ]:
a = str(input('Genre:'))
b = float(input('Runtime:'))
c = float(input('Rating:'))
relevant_movies = get_movie_recommendation(a,b,c)
relevant_movies

Genre:Science Fiction
Runtime:100.0
Rating:6.0

,index,title,genre,language,release_year,runtime,production_company,production_country,tagline,vote_average,vote_count
472,472,Powder,Science Fiction,English,1995,111.0,Caravan Pictures,United States of America,An extraordinary encounter with another human ...,6.3,143.0
473,473,Powder,Science Fiction,English,1995,111.0,Hollywood Pictures,United States of America,An extraordinary encounter with another human ...,6.3,143.0
615,615,The City of Lost Children,Science Fiction,å¹¿å·è¯ / å»£å·è©±,1995,108.0,Procirep,France,Where happily ever after is just a dream.,7.6,308.0
616,616,The City of Lost Children,Science Fiction,å¹¿å·è¯ / å»£å·è©±,1995,108.0,Procirep,Germany,Where happily ever after is just a dream.,7.6,308.0
617,617,The City of Lost Children,Science Fiction,å¹¿å·è¯ / å»£å·è©±,1995,108.0,Procirep,Spain,Where happily ever after is just a dream.,7.6,308.0
...,...,...,...,...,...,...,...,...,...,...,...
416829,416829,Transformers: The Last Knight,Science Fiction,English,2017,149.0,Hasbro Studios,United States of America,"For one world to live, the other must die.",6.2,1440.0
417355,417355,5ive Days to Midnight,Science Fiction,English,2004,210.0,NaN,Canada,NaN,6.8,18.0
417356,417356,5ive Days to Midnight,Science Fiction,English,2004,210.0,NaN,United States of America,NaN,6.8,18.0
418561,418561,Anti Matter,Science Fiction,NaN,2016,109.0,"Cast Iron Picture Co., The",United Kingdom,NaN,6.7,22.0
419010,419010,King Size,Science Fiction,Polski,1988,105.0,NaN,Poland,NaN,7.3,8.0